<!-- CREDIT TO NetNinja: https://github.com/iamshaunjp/JavaScript-DOM-Tutorial/tree/lesson-1 -->

<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link th:href="@{/styles.css}" rel="stylesheet">
    <!-- JavaScript -->
<!--     <script th:src="@{/app.js}"></script>-->
    <title>Book Manager</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="page-banner">
                <h1 class="title">Bookorama</h1>
                <p>Books for Ninjas</p>
                <form id="search-books">
                    <input type="text" placeholder="Search books..." />
                </form>
            </div>
        </header>
        <div id="book-list">
            <h2 class="title">Books to Read</h2>
            <ul>
                <li th:each="book:${books}" th:attr="bookid=${book.id}">
                    <span class="name" th:text="${book.title}"> </span>
                    <span class="delete">delete</span>
                </li>
            </ul>


<!--            <form action="#" th:action="@{'/books/{id}'(id=${book.id})}" th:method="delete" >-->
<!--                <li th:each="book:${books}" th:attr="bookid=${book.id}">-->
<!--                    <label th:text="${book.title}"></label>-->
<!--                    <button type="submit" class="btn">Delete</button>-->
<!--                </li>-->
<!--            </form>-->

            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td><a th:href="@{/books/{id}(id=${book.id})}">Delete</a></td>
            </tr>
            </tbody>
        </div>
        <form id="add-book">
            <input type="text" placeholder="Add a book..." />
            <button>Add</button>
        </form>
    </div>

<!--    <script th:inline="javascript">-->
<!--        // const bookList = document.querySelector('#book-list ul');-->
<!--        //-->
<!--        // bookList.addEventListener('click', function(event) {-->
<!--        //     if (event.target.className == 'delete') {-->
<!--        //         const bookItem = event.target.parentNode;-->
<!--        //         console.log(bookItem.getAttribute('bookid'));-->
<!--        //         console.log(typeof bookItem.getAttribute('bookid'));-->
<!--        //     }-->
<!--        // });-->
<!--    </script>-->
</body>
</html>